@import "fonts";
*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
              box-sizing: border-box;
}
:root{
	font-size: 10px;
}
body{
	overflow-x: hidden;
}
.wrapper{
	min-width: 320px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	font-family: $font;	
	overflow-x: hidden;
	color: #000;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
h1, 
h2,
h3,
h4{
	font-weight: normal;
}
.container{
	margin: 0 auto;
	max-width: 1280px;
	width: 100%;
}
.romb-center{
	position: absolute;
	z-index: 9;
	width: 48.5rem;
	height: 19rem;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-size: cover;
	background-position: 100% 100%;
	background-repeat: no-repeat;
	text-align: center;
	@media screen and (max-width: 576px){
		width: 32.3rem;
		height: 12.6rem;
	}
	img{
		margin: 1rem 0 4rem 0;
		@media screen and (max-width: 576px){
			margin: 0.5rem 0 2rem 0;
			width: 3rem;
			height: 3.3rem;
		}
	}
	h3{
		text-transform: uppercase;
		font: 2rem/0.529rem $font-bold1;
		a{
			display: block;
			font: 4.8rem $font-bold2;
			color: #242c3f;
			@media screen and (max-width: 576px){
				font-size: 3.5rem;
			}
		}
	}
}


.romb-bg1{
	background-image: url(../img/romb-svg.svg);
}
.romb-bg2{
	background-image: url(../img/romb-bg2.svg);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	a{
		font: 3.2rem $font-bold1;
		text-transform: uppercase;
		color: #fff;
		@media screen and (max-width: 576px){
			font-size: 2.8rem;
		}
	}
	&:hover a{
		color: lighten(#ffb923, 20%);	
	}
}
.romb-bg3{
	background-image: url(../img/romb-bg3.svg);
	width: 68.5rem;
	height: 24rem;
	bottom: -4.8rem;
		a{
		display: block;
		max-width: 49rem;
		width: 100%;
		margin: auto;
		font: 3.2rem $font-bold1;
		text-transform: uppercase;
		color: #fff;
		&:first-child{
			padding-top: 5rem;
		}
	}
	.small{
		font-size: 2.2rem;
	}
	&:hover a{
		color: lighten(#ffb923, 20%);	
	}
}
@media screen and (max-width: 680px){
.romb-bg3{
	width: 45.6rem;
	height: 16rem;
	bottom: -3.2rem;
	a{
		font-size: 2.5rem;
	  &:first-child{
	  	padding-top: 3rem;
	  }
	}
	 .small{
	  	font-size: 1.4rem;
	  }
}
}
@media screen and (max-width: 440px){
.romb-bg3{
	width: 34.25rem;
	height: 12rem;
	bottom: -2.5rem;
	a{
		font-size: 2rem;
		max-width: 25rem;
		&:first-child{
		  	padding-top: 2.3rem;
		  }
	}
	.small{
		font-size: 1rem;
	}
}
}




.bg-line{
		position: relative;
	   display: block;
	   width: 100%;
	&:after,
	&:before{
		position: absolute;
	  	bottom: 99.9%;
	 	content: "";
	}
	&:before{
	   border-right: 50vw solid transparent;
	   right: 50%;
	}
	&::after{
	  border-left: 50vw solid transparent;
	  left: 50%;
	}
}
.title{
	color: #121212;
	font: 6rem $font-bold2;
	text-align: center;
@media screen and (max-width: 768px){
	font-size: 5rem;
}
}
.bth-link{
	font-size: 2.2rem;
	color: #fff;
	max-width: 96rem;
	width: 100%;
	padding: 1.2rem 0;
	border-radius: 2.6rem;
	background: #cd272c;
	display: block;
	text-align: center;
	margin: auto;
	border: 0.2rem solid transparent;
	cursor: pointer;
	&:hover{
		color: #cd272c;
		background: #fff;
		border-color: #cd272c;
	}
}
@media screen and (max-width: 768px){
:root{
	font-size: 9px;
}
}
@import "mixin";
@import "header";
@import "bed-bugs";
@import "block-slider";
@import "professional-block";
@import "reviews";
@import "block-content";
@import "block-content2";
@import "footer";